* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 1st Background- #2F19A9, 2nd color for divs-#EB475F */
body{
    font-family: 'Merriweather', sans-serif;
    background: linear-gradient(#EB475F,#2F19A9);
}
.heading{
    color : #fff;
    padding: 6rem;
    text-align: center;
}
.row{
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
}
.card{
    width:18rem;
    text-align:center;
    margin: 0 auto;
    background-color: #EB475F;
    height: 32vh;
    border-radius: 1rem;
}

.card-title{
    font-size: 3rem;
    color: #fff;
    font-weight:700;
    display:block;
    margin: 0 auto;
    -webkit-text-stroke: 1px #2F19A9;
    text-shadow: 0px 2px 4px #160C6E;
    padding-top: 6px;
    padding-bottom:6px;
    max-width: 17rem;
}
.card-img-top{
    width: 4rem;
    height: 4rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card-text{
    color: #fff;
    font-size: 2rem;
    font-family: "Monserrat", sans-serif;
}

.btn-custom{
    background-color: #160C6E;
    color:#fff;
    height: 5vh;
}
.btn-custom:hover{
    color:#EB475F;
    background-color:#2F19A9;

}
.show-stats{
    max-width: 30vw;
    margin: 3rem auto;
    display:block;
}
.state-in{
    height: 5vh;
}

/* HR Section */
.accessory {
    height: 8px;
    background-image: radial-gradient(
      closest-side,
      #EB475F,
      hsla(0, 85%, 43%, 0) 100%);
    position: relative;
  }
  .accessory:after {
    position: absolute;
    top:  50%;
    left: 50%;
    display:block;
    background-color: #2F19A9;
    height: 12px;
    width:  12px;
    transform: rotate(45deg);
    margin-top:  -10px;
    margin-left: -10px;
    border-radius: 4px 0;
    border: 4px solid hsla(0, 0%, 100%, 0.35);
    background-clip: padding-box;
    box-shadow: -10px 10px 0 hsla(0, 0%, 100%, 0.15), 10px -10px 0 hsla(0, 0%, 100%, 0.15);
  }

.foot-section{
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
    color:#fff;
    padding-bottom: 2rem;
    font-family: "Monserrat", sans-serif;
    max-width: 600px;
}

/* ScrollBar Section */
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #160C6E;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #EB475F;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #160C6E;  /* creates padding around scroll thumb */
  }